#p {
	color: #3CF000
}

#p2 {
	color: #3CF000
}

#p3 {
	color: #3CF000
}

#p4 {
	color: #3CF000
}


#p5 {
	color: #3CF000
}

#p6 {
	color: #3CF000
}

#p7 {
	color: #3CF000
}

#p8 {
	color: #3CF000
}

#p9 {
	color: #3CF000
}

body {
background-image: url(../image/unnamed.png); 
}

a {
	color: #F4FF14
}

#lalala {
	color: #C20E13
}

#lalala1 {
	color: #C20E13
}

#p10 {
width: 500 px
}

