.greenText {
	color: #3CF000;
	text-align: center;
}

body {
	background-image: url(../image/background.png);
}

a {
	color: #F4FF14;
}

#border label {
	color: #F18500;
    	cursor: pointer;
}

#border {
	border: 4px solid #faa21a;
	width: 1000px;
}

.greenTextInTexteria {
	color: #3CF000;
}

#baner {
	border:50px #c1c1c1;
	with:1084px;
	height:151px;
	margin: 30px auto;
}

.send{
	cursor: pointer;
}

texteria {
	border:20px
}
